.movieCard{
    position: absolute;
    display: none;
    top:0;
    padding: 0.2rem;
    color: aliceblue;
    max-width: 100%;
}
.movieCardImage:hover + .movieCard{
    display: block;
} 
.movieCardImage:hover{
    transform: scale(1.1);
    opacity: 0.1;
}
.movieCardText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
}